/* FORMATO DE TEXTOS -------------------------------------- */
*{
    font-family: 'Josefin Sans', sans-serif;
}

p, summary{
    font-size: 1.2em;
}

article span:first-child{
    color: blue;
}

h1, h2, h3, header h1 a:first-child{
font-family: 'font_nasa';
}

table + h2{
    padding-top: 40px;
    text-transform: capitalize;
}




/* FORMATO DE HEADER --------------------------------------- */
header{
    height: 12vw;
    background-image: url('imagenes/header_largo_sinTexto.png');
    background-size: cover;
    background-repeat: no-repeat;
}

header h1{
    font-size: 3.2em;
    color: white;
    text-align: center;
    padding: 30px 0px 10px 0px;
}

header a{
    text-decoration: none;
    color: white;
}

ul.menu{
    display: flex;
    list-style: none;
    justify-content:center;

}

.menu li{
    display: flex;
    text-align:center;
    padding: 5px 20px 5px 20px;
    font-size: 1.3em;
}



/* IMÃGENES ---------------------------------------------------- */
#constellations{
    padding: 30px 60px 0 0;
    margin-left: 50px;
    width: 700px;
    float:right;
}




/* LISTAS ------------------------------------------------------- */
ul.summary{
    padding: 10px 0px 30px 30px;
}

.summary li{
    list-style-type: square;
    font-size: 1.2em;
    list-style-position: inside;
}

ol li{
    font-size: 1.2em;
    line-height: 2em;
}

ol.ABC_list > li{
    color: rgba(2,0,36,1);
    font-weight: 600;

}

ol.ABC_list > ol li{
    list-style-type: lower-greek;
}





/* TABLAS ------------------------------------------------------------ */
table{
    border-collapse: separate;
    width: 90%;
    padding-left: 10%;
    align-items: center;
}

td, th {
    border: 1px solid white;
    text-align: left;
    padding: 8px;
  }
  
th{
    background-color: rgba(2,0,36,1);
    color: white;
}

  tr:nth-child(odd) {
    background-color: rgba(235,191,150,0.8);
  }

  td:first-child, td:nth-child(2), td:last-child{
    white-space: nowrap;
  }




/* BLOQUES DE CONTENIDO ---------------------------------------------- */
article{
    background-color: blue;
    background: linear-gradient(0deg, rgba(2,0,36,1) 12%, rgba(121,71,9,1) 63%, rgba(235,191,150,0.8) 100%);
}

#home{
    padding-top: 40px;
}

main ~ div {
    padding: 30px 0 0 60px;
    min-height: 590px;
    background-color: rgba(121,71,9,1);
    background: linear-gradient(0deg, rgba(121,71,9,1) 63%, rgba(235,191,150,0.8) 100%);
}

main.nextEvents, main.contact{
    background-color: rgba(121,71,9,1);
    background: linear-gradient(0deg, rgba(121,71,9,1) 40%, rgba(235,191,150,0.8) 100%);
    padding: 40px;
}

details{
    padding-bottom: 40px;
}

details:first-child{
    padding-top: 40px;
}





/* FORMULARIOS ------------------------------------------------- */
legend{
    font-size: 1.2em;
    background-color: rgba(2,0,36,0.6);
    color: white;
    border-radius: 8px;
    padding: 6px;
}

fieldset fieldset legend{
    background: none;
    color: black;
}

fieldset+fieldset{
    margin-top: 50px;
}

fieldset ~ p{
    margin-top: 50px;
    font-weight: 800;
}

fieldset div{
    padding-left: 10%;
}


/* Checkbox -------------------- */
input[type="checkbox"]:hover{
    box-shadow: 0px 0px 10px -2px black;
}

input[type="checkbox"]:checked {
    border: 4px solid rgba(121,71,9,1);
    box-shadow: 2px 5px 3px rgba(2,0,36,1);
    color: white;
}


/* Radio ------------------------ */
input[type='radio']:hover {
    box-shadow: 0px 0px 10px -2px black;
  }

input[type='radio']:checked + label {
    color: rgba(2,0,36,1);
    font-weight: 800;
  }

  
/* Input text ----------------------- */
input[type="text"], input[type="number"], input[type="email"], textarea, select, input[type="date"], input[type="file"]{
    width: 250px;
    border: 2px inset rgba(2,0,36,1);
    border-radius: 5px;
    height: 20px;
    background-color: transparent;
    color: black;
    font-size: 0.9em;
    font-family: 'Josefin Sans', sans-serif;
}

input[type='text']:focus {
    outline-color: orange;
    border-color: orange;
}

 input::placeholder, input[type="date"]{
    color: rgba(2,0,36,0.8);
    font-style: italic;
    font-size: 0.9em;
}

#phone:invalid {
    background-color: orange;
}


/* Input number ---------------------- */
input[type="number"]{
    width: 80px;
}


/* Input email ---------------------- */
input[type="email"]{
    width: 300px;
}

/* Textarea ------------------------- */
textarea{
    width: 400px;
    height: 50px;
}


/* Select ------------------------- */
select{
    width: 225px;
    height: 25px;
}

input[type="file"]{
    width: 350px;
    height: 24px;
}


/* Button -------------------------- */
p.button{
    text-align: center;
}

input[type="button"]{
    font-size: 1.2em;
    color: white;
    padding: 8px 12px 8px 12px;
    margin: 0 10px 20px 0;
    width: 350px;
    height: 70px;
    background: rgba(2,0,36,0.8);
    border-radius: 9px 9px 9px 9px;
    border: rgba(121,71,9,1) groove 6px; 
}


input[type="button"]:active{
    background: white;
    color: rgba(2,0,36,0.8);
}




/* VARIABLES --------------------------------------------------- */
@font-face {
    font-family: 'font_nasa';
    src: url('./fuentes/nasalization/nasalization-rg.otf') format(opentype);
}